.main {
    &__controls {
        display: flex;
        flex-direction: column;

        gap: 30px;

        justify-content: center;
        align-content: center;

        margin: 40px auto;
        width: 35vw;
    }
}